.main {
  width: 100%;

  .leftSolid {
    position: absolute;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .rightSolid {
    position: absolute;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .mainContent {
    width: 100%;

  }
}