.main {
  width: 100%;
  height: auto;
  padding: 10px;
  background-image: url("../../../pages/img/titus-wrapper.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  border: 1px solid white;
}