.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    align-items: center;
    gap: 4px;
    background: #282c34; /* Тёмный фон для страницы */
    color: #f5f5f5; /* Светлый текст */
    font-family: 'Arial', sans-serif; /* Шрифт для страницы */
}

/* Заголовок страницы */
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #61dafb; /* Цвет заголовка */
}

/* Контейнер для стола */
.table {
    width: calc(100% - 20px); /* Убираем немного от общей ширины, чтобы оставить место для отступов */
    height: 500px;
    margin: 0 auto;
    gap: 10px;
    background: #3c3f41; /* Цвет стола */
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #61dafb; /* Граница стола */
    position: relative; /* Для позиционирования дочерних элементов */
}

/* Контейнер для карт игрока */
.my-cards {
    width: 80%;
    height: 200px;
    margin: 20px auto; /* Отступы сверху и снизу */
    background: #3c3f41; /* Цвет фона для карт игрока */
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #61dafb; /* Граница контейнера */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер для карт */
.cards-container {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    height: auto;
    pointer-events: none; /* Отключаем взаимодействие с контейнером карт */
}

/* Индивидуальные карты */
.card-image {
    opacity: 0; /* Начальное состояние непрозрачности */
    transform: translateY(100%); /* Начальная позиция карты снизу */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавное изменение состояния */
    width: 60px; /* Уменьшенный размер карты */
    height: 90px;
    border-radius: 8px; /* Скругление углов карт */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для карт */
    cursor: pointer;
}

/* Анимация появления карты */
.card-image.entered {
    opacity: 1; /* Прозрачность карты после анимации */
    transform: translateY(0); /* Конечная позиция карты */
    pointer-events: all; /* Включаем взаимодействие с картами */
}

/* Карты на столе */
.table-card {
    width: 80px; /* Размер карты на столе */
    height: 120px;
    border-radius: 8px; /* Скругление углов карт */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для карт */
}

/* Кнопки управления */
button {
    background: #61dafb; /* Цвет кнопки */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    color: #282c34; /* Цвет текста кнопки */
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease; /* Плавный переход цвета фона */
}

button:hover {
    background: #21a1f1; /* Цвет кнопки при наведении */
}

button:active {
    background: #1e90ff; /* Цвет кнопки при нажатии */
}

button:focus {
    outline: none; /* Убираем обводку при фокусе */
}

.error-message {
    color: red;
    margin-top: 10px;
}
