.container {
    background-color: #236245; /* Замените на нужный вам цвет */
    height: 100vh;
    overflow: auto; /* Позволяет прокручивать содержимое */
    position: relative; /* Для размещения абсолютных элементов внутри контейнера */
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background-image: url("./images/Header.svg");
    background-repeat: no-repeat; /* Добавлено */
    padding: 0 20px; /* Внутренние отступы для header */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Убедитесь, что header находится выше других элементов */
    margin: 0;

}

.stafka {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между иконкой и текстом */
    color: #fff; /* Цвет текста */
    margin: 0;

}

.stafka img {
    margin-right: 10px;
}

.stafka h2 {
    margin: 0;
    font-size: 24px;
}

.game-mode {
    display: flex;
    gap: 5px; /* Расстояние между картами */
    width: 101px;
    height: 29px;
    background-color: #380C0C;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.game-mode img {
    display: block;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 0;
    top: 30px; /* Отступ сверху, чтобы не перекрывать header */
    bottom: 0;

    background-image: url("./images/ugol.svg");
    background-repeat: no-repeat; /* Добавлено */
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 30px; /* Отступ сверху, чтобы не перекрывать header */
    bottom: 0;
    background-image: url("./images/Right Safe Area.svg");
    background-repeat: no-repeat; /* Добавлено */
}

.illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
