.main {
  padding: 15px 15px 0;
  text-align: center;

  .bonuses {
    font-size: 54px;
  }

  .getBonuses {
    font-size: 16px;
    text-align: center;
  }

  .loading {
    padding: 25px 35px 35.92px;
    font-size: 24px;
  }
}
